<div class="box">
	<%= link_to (image_tag pin.image(:thumb)), pin %>
	<p class="desc"><%= pin.description %></p>
	<p class="author">pinned by <%= link_to pin.user.name, pin.user %></p>
	<% if current_user == pin.user %>
	<ul class="pin-controls inline">
		<li><%= link_to (raw("<i class=icon-eye-open></i>View")), pin %></li>
		<li><%= link_to (raw("<i class=icon-pencil></i>Edit")), edit_pin_path(pin) %></li>
		<li><%= link_to (raw("<i class=icon-remove></i>Remove")), pin, method: :delete, data: { confirm: 'Are you sure?' } %></li>
	</ul>
	<% end %>
</div>